<h1>Выезды за границу</h1>

<table>
  <tr>
    <th><%= Abroad.human_attribute_name(:employee_id) %></th>
    <th><%= Abroad.human_attribute_name(:country) %></th>
    <th><%= Abroad.human_attribute_name(:date_to) %></th>
    <th><%= Abroad.human_attribute_name(:purpose) %></th>
    <th><%= Abroad.human_attribute_name(:awareness_conclusion) %></th>
    <th><%= Abroad.human_attribute_name(:making_on_out) %></th>
    <th><%= Abroad.human_attribute_name(:solution_output) %></th>
    <th><%= Abroad.human_attribute_name(:additional_data) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @abroads.each do |abroad| %>
  <tr>
    <td><%= abroad.employee %></td>
    <td><%= abroad.country %></td>
    <td><%= abroad.date_to %></td>
    <td><%= abroad.purpose %></td>
    <td><%= abroad.awareness_conclusion %></td>
    <td><%= abroad.making_on_out %></td>
    <td><%= abroad.solution_output %></td>
    <td><%= abroad.additional_data %></td>
    <td><%= link_to 'Показать', abroad %></td>
    <td><%= link_to 'Редактировать', edit_abroad_path(abroad) %></td>
    <td><%= link_to 'Удалить', abroad, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Добавить', new_abroad_path %>
