<p id="notice"><%= notice %></p>

<p>
  <b>Employee:</b>
  <%= @abroad.employee %>
</p>

<p>
  <b>Country:</b>
  <%= @abroad.country %>
</p>

<p>
  <b>Date to:</b>
  <%= @abroad.date_to %>
</p>

<p>
  <b>Purpose:</b>
  <%= @abroad.purpose %>
</p>

<p>
  <b>Awareness conclusion:</b>
  <%= @abroad.awareness_conclusion %>
</p>

<p>
  <b>Making on out:</b>
  <%= @abroad.making_on_out %>
</p>

<p>
  <b>Solution output:</b>
  <%= @abroad.solution_output %>
</p>

<p>
  <b>Additional data:</b>
  <%= @abroad.additional_data %>
</p>


<%= link_to 'Edit', edit_abroad_path(@abroad) %> |
<%= link_to 'Back', abroads_path %>
