<h1>Listing handbook_jobpositions</h1>

<table>
  <tr>
    <th>Fullname</th>
    <th>Shortname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @handbook_jobpositions.each do |handbook_jobposition| %>
  <tr>
    <td><%= handbook_jobposition.fullname %></td>
    <td><%= handbook_jobposition.shortname %></td>
    <td><%= link_to 'Show', handbook_jobposition %></td>
    <td><%= link_to 'Edit', edit_handbook_jobposition_path(handbook_jobposition) %></td>
    <td><%= link_to 'Destroy', handbook_jobposition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Handbook jobposition', new_handbook_jobposition_path %>
