<h1>Справочник "Должность"</h1>  

<table>
  <tr>
    <th><%= HandbookJobposition.human_attribute_name(:fullname) %></th>
    <th><%= HandbookJobposition.human_attribute_name(:shortname) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @handbook_jobpositions.each do |handbook_jobposition| %>
  <tr>
    <td><%= handbook_jobposition.fullname %></td>
    <td><%= handbook_jobposition.shortname %></td>
    <td><%= link_to 'Показать', handbook_jobposition %></td>
    <td><%= link_to 'Редактировать', edit_handbook_jobposition_path(handbook_jobposition) %></td>
    <td><%= link_to 'Удалить', handbook_jobposition, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Добавить', new_handbook_jobposition_path %>
