<p id="notice"><%= notice %></p>

<p>
  <b>Fullname:</b>
  <%= @handbook_jobposition.fullname %>
</p>

<p>
  <b>Shortname:</b>
  <%= @handbook_jobposition.shortname %>
</p>


<%= link_to 'Edit', edit_handbook_jobposition_path(@handbook_jobposition) %> |
<%= link_to 'Back', handbook_jobpositions_path %>
