<h1>Справочник "Место работы сотрудника"</h1>

<table>
  <tr>
    <th><%= HandbookPlaceEmployee.human_attribute_name(:fullname) %></th>
    <th><%= HandbookPlaceEmployee.human_attribute_name(:shortname) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @handbook_place_employees.each do |handbook_place_employee| %>
  <tr>
    <td><%= handbook_place_employee.fullname %></td>
    <td><%= handbook_place_employee.shortname %></td>
    <td><%= link_to 'Показать', handbook_place_employee %></td>
    <td><%= link_to 'Редактировать', edit_handbook_place_employee_path(handbook_place_employee) %></td>
    <td><%= link_to 'Удалить', handbook_place_employee, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Добавить', new_handbook_place_employee_path %>
