<h1>Listing handbook_form_admissions</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @handbook_form_admissions.each do |handbook_form_admission| %>
  <tr>
    <td><%= handbook_form_admission.name %></td>
    <td><%= link_to 'Show', handbook_form_admission %></td>
    <td><%= link_to 'Edit', edit_handbook_form_admission_path(handbook_form_admission) %></td>
    <td><%= link_to 'Destroy', handbook_form_admission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Handbook form admission', new_handbook_form_admission_path %>
