<p id="notice"><%= notice %></p>

<p>
  <b><%= HandbookformAdmission.human_attribute_name(:name) %>:</b>
  <%= @handbook_form_admission.name %>
</p>


<%= link_to 'Редактировать', edit_handbook_form_admission_path(@handbook_form_admission) %> |
<%= link_to 'Назад', handbook_form_admissions_path %>
