<%= form_for(@handbook_division) do |f| %>
  <% if @handbook_division.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@handbook_division.errors.count, "error") %> prohibited this handbook_division from being saved:</h2>

      <ul>
      <% @handbook_division.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fullname %><br />
    <%= f.text_field :fullname %>
  </div>
  <div class="field">
    <%= f.label :shortname %><br />
    <%= f.text_field :shortname %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
