<h1>Listing handbook_divisions</h1>

<table>
  <tr>
    <th>Fullname</th>
    <th>Shortname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @handbook_divisions.each do |handbook_division| %>
  <tr>
    <td><%= handbook_division.fullname %></td>
    <td><%= handbook_division.shortname %></td>
    <td><%= link_to 'Show', handbook_division %></td>
    <td><%= link_to 'Edit', edit_handbook_division_path(handbook_division) %></td>
    <td><%= link_to 'Destroy', handbook_division, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Handbook division', new_handbook_division_path %>
