<h1>Справочник "Структурное подразделение"</h1>

<table>
  <tr>
    <th><%= HandbookStructualUnit.human_attribute_name(:fullname) %></th>
    <th><%= HandbookStructualUnit.human_attribute_name(:shortname) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @handbook_structual_units.each do |handbook_structual_unit| %>
  <tr>
    <td><%= handbook_structual_unit.fullname %></td>
    <td><%= handbook_structual_unit.shortname %></td>
    <td><%= link_to 'Показать', handbook_structual_unit %></td>
    <td><%= link_to 'Редактировать', edit_handbook_structual_unit_path(handbook_structual_unit) %></td>
    <td><%= link_to 'Удалить', handbook_structual_unit, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Добавить', new_handbook_structual_unit_path %>
